{
  "root": true,
  "extends": ["plugin:@wordpress/eslint-plugin/recommended"],
  "env": {
    "browser": true,
    "es2022": true
  },
  "ignorePatterns": [
    "vendor/**",
    "node_modules/**",
    "build/**",
    "dist/**",
    "assets/builder/build/**",
    "docs/internal/**"
  ]
}
